<section class="bg-blue-500 min-h-screen flex items-center">
  <div class="max-w-7xl mx-auto w-full px-6 grid md:grid-cols-2 gap-10 items-center">
    <div class="max-w-6xl mx-auto flex items-start justify-between px-6 pt-24">
      <div class="max-w-md mt-8">
        <h1 class="text-4xl font-semibold leading-tight">
          Get what you want,<br />
          delivered simply
        </h1>

        <p class="mt-4 text-base text-black/70">
          Shop essentials, manage orders, and track your account in one place.
        </p>
      </div>

      <div class="w-full max-w-sm bg-[#f3f3f3] p-6 rounded-xl shadow-md">
        <h2 class="text-lg font-bold">Create Account</h2>

        <p class="text-sm text-black/60 mt-1 mb-4">Sign up to get started</p>

        <form class="flex flex-col gap-3">
          <div>
            <label class="text-xs text-black">Full Name</label>
            <input
              type="text"
              placeholder="Enter your name"
              class="w-full h-10 mt-1 rounded-md bg-gray-200 px-3 text-sm outline-none"
            />
          </div>

          <div>
            <label class="text-xs text-black">Email</label>
            <input
              type="email"
              placeholder="Enter your email"
              class="w-full h-10 mt-1 rounded-md bg-gray-200 px-3 text-sm outline-none"
            />
          </div>

          <div>
            <label class="text-xs text-black">Password</label>
            <input
              type="password"
              placeholder="Enter your password"
              class="w-full h-10 mt-1 rounded-md bg-gray-200 px-3 text-sm outline-none"
            />
          </div>

          <div>
            <label class="text-xs text-black">Confirm Password</label>
            <input
              type="password"
              placeholder="Re-enter your password"
              class="w-full h-10 mt-1 rounded-md bg-gray-200 px-3 text-sm outline-none"
            />
          </div>

          <button
            type="submit"
            class="mt-4 w-full h-10 bg-blue-500 text-white text-sm font-semibold rounded-md shadow hover:bg-blue-600 transition"
          >
            Sign up
          </button>
        </form>

        <p class="mt-4 text-xs text-black/70">
          Already have an account?
          <a class="text-blue-600 font-medium cursor-pointer">log in</a>
        </p>
      </div>
    </div>
  </div>
</section>
